<div class="author">
    <img
        class="author-avatar"
        src="{{ site.author.avatar }}"
        alt="{{ site.author.username }}"
        draggable="false"
    />
    <h2 class="author-name"></h2>
    <p class="typewriter"></p>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var typewriterElem = document.querySelector('.typewriter');
            var firstUpdate = true;

            function getOrdinalSuffix(date) {
                if (date > 3 && date < 21) return 'th';
                switch (date % 10) {
                    case 1:  return "st";
                    case 2:  return "nd";
                    case 3:  return "rd";
                    default: return "th";
                }
            }

            function updateTime() {
                var now = new Date();
                var days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
                var dayName = days[now.getDay()];
                var month = now.toLocaleString('en-GB', { month: 'long' });
                var date = now.getDate();
                var year = now.getFullYear();
                var hours = now.getHours();
                var amPm = hours >= 12 ? 'PM' : 'AM';
                hours = hours % 12 || 12;
                var minutes = now.getMinutes().toString().padStart(2, '0');
                var ordinalSuffix = getOrdinalSuffix(date);

                var timeString = "It is " + hours + ":" + minutes + " " + amPm + " on " + dayName + ", " + date + ordinalSuffix + " " + month + " " + year + ". Remember, your time is valuable.";
            
                if (firstUpdate) {
                    typewriterElem.classList.add('typewriter-animate');
                    firstUpdate = false;
                }

                typewriterElem.textContent = timeString;
            }

            setInterval(updateTime, 1000);
            updateTime();
        });
    </script>
</div>
