---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang }}">
{% include header.html %}
<body data-theme="{{ site.mode }}">
  {% include theme-init.html %}
  <a class="skip-link" href="#main-content">{% if page.lang == 'fr' %}Aller au contenu{% else %}Skip to content{% endif %}</a>
  {% include navbar.html %}
  <div class="wrapper{% if page.layout == 'post' %} post{% endif %}">
    <main id="main-content" tabindex="-1">{{ content }}</main>
    {% include footer.html %}
  </div>
  {% if page.layout == 'home' %}{% include ticker.html %}{% endif %}
</body>
</html>
